* {
    padding: 0;
    margin: 0;
}

/* Utilities */
.outline {
    outline: 3px solid black;
}

/* Main Page */
body {
    padding: 0 15%;
}
.header {
    background-color: black;
    color: white;
    padding: 10px 15px;
    
}
h1 {
    text-align: center;
    padding: 15px;
}
.main {
    display: flex;
}
.col1 {
    flex: 1;
}
.profile {
    display: flex;
    flex-direction: column;
    margin-right:20px;
    padding: 15px 0;
    align-items: center;
    gap: 30px;
}
.icon {
    height: 75px;
    width: 75px;
}
#userName {
    font-size: 1.5em;
    font-weight: 600;
}
.col2 {
    flex: 3;
}
.box {
    padding: 25px;
    /* width: 500px; */
    margin-bottom: 15px;
}
.box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
p:first-child{
    font-size: 1.3em;
    font-weight: 600;
}
.btn {
    background-color: rgb(242, 202, 78);
    padding: 5px 10px;
    box-shadow: 2px 2px black;
    cursor: pointer;
}